:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --accent-first-color: #263238;
  --accent-second-color: #939393;
  --decr-color: #8f95a5;
  --price-color: #2a3246;
  --period-color: #546269;

  --landing-background-color: #e5e5e5;
  --card-background-color: #f5f5f5;
  --price-background-color: #eeeeee;
  --border-color: #c4c4c4;
}
/* Styles reset */
h1,
h2,
h3,
h4,
a,
address,
img,
ul,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--white-color);
  color: var(--decr-color);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}
.section {
  padding: 90px 0;
}
.container {
  max-width: 1338px;
  margin: 0 auto;
  padding: 0 20px;
}

/* skills Karina */

.section-skill {
  padding-left: 15px;
  padding-right: 15px;
      
  margin-left: auto;
  margin-right: auto;
  padding-top: 180px;
}

.skill-container {
  max-width: 1200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.skill-header {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  color: #000000;
  text-align: center;
  
  margin-bottom: 60px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.skill-item {
  display: flex;
}

.skills-item:not(:last-child) {
  margin-right: 30px;
}

.skill-img {
  margin-bottom: 24px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 2;
  flex-basis: 0%;
}

.wrapper-img1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-content: stretch;
  gap: 10px;

}

.wrapper-img2 {
  margin-top: 30px;
}




