:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --accent-first-color: #263238;
  --accent-second-color: #939393;
  --decr-color: #8f95a5;
  --price-color: #2a3246;
  --period-color: #546269;

  --landing-background-color: #e5e5e5;
  --card-background-color: #f5f5f5;
  --price-background-color: #eeeeee;
  --border-color: #c4c4c4;
}
/* Styles reset */
h1,
h2,
h3,
h4,
p,
a,
address,
img,
ul,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--white-color);
  color: var(--decr-color);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}
.section {
  padding: 90px 0;
}
.container {
  max-width: 1338px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header - Валерій */

/* Hero - Паша */

/* Skills - Каріна */

/* About us - Віктор Чайковський */

.about-us-container {

}


.about-us-header {
  width: 219px;
  height: 72px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  color: var(--black-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-bottom: 60px;

}

.about-us-text {
  width: 652px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;

  margin-bottom: 30px;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.about-us-item {
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.7;
}

.about-us-item:not(:first-child) {
  margin-left: 131px;
}

.about-us-img {
  width: 540px;
  height: 540px;
}

/* Pricin - Ілона */

/* Contact us - Женя */

/* Ваня */

/* Артем */

/* Аня */

/* Footer - Вадим */
